





section#content-registration.content-registration
    .title-2
        h2 Пройдите предварительную регистрацию , заполнив форму ниже.
    form.login-form
            .flex-row
              input#username.lf--input(placeholder='Имя партнера*' type='text')
            .flex-row
              input#username-1.lf--input(placeholder='Фамилия партнера*' type='text')
            .flex-row
              input#username-2.lf--input(placeholder='Имя партнерши*' type='text')
            .flex-row
              input#username-3.lf--input(placeholder='Фамилия партнерши*' type='text')
            .flex-row
              input#username-4.lf--input(placeholder='Клуб*' type='text')
            .flex-row
              input#username-5.lf--input(placeholder='Фамилия тренера*' type='text')
            .flex-row
              input#username-6.lf--input(placeholder='Город*' type='text')
            
            .flex-row
                #username-7.lf--input
                        .block__select
                            select.select
                                option(value='Выберите' disabled ) Выберите категорию*
                                option(value='По актуальности' ) Бэби 3-5 лет дебют соло (w,ch)
                                option(value='По актуальности' ) Бэби 3-5 лет дебют дуэты (w,ch)
                                option(value='По актуальности' ) Бэби 3-5 лет школа соло (w,ch,j)
                                option(value='По актуальности' ) Бэби 3-5 лет школа дуэты (w,ch,j)

                                option(value='По актуальности' ) Дети 6-7 лет дебют соло (w,ch)
                                option(value='По актуальности' ) Дети 6-7 лет дебют дуэты (w,ch)
                                option(value='По актуальности' ) Дети 6-7 лет школа соло (w,ch,j)
                                option(value='По актуальности' ) Дети 6-7 лет школа дуэты (w,ch,j)
                                option(value='По актуальности' ) Дети 6-7 лет начинающие соло (w,q,ch,j)
                                option(value='По актуальности' ) Дети 6-7 лет начинающие дуэты (w,q,ch,j)

                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  дебют соло (w,ch)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  дебют дуэты (w,ch)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  школа соло (w,ch,j)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  школа дуэты (w,ch,j)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  начинающие соло (w,q,ch,j)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  начинающие дуэты (w,q,ch,j)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  E-st соло (w,t,q)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  E-la соло (s,ch,j)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  E-st дуэты (w,t,q)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  E-la дуэты (s,ch,j)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  D-st  (w,t,vw,q)
                                option(value='По актуальности' ) Ювеналы-1 8-9 лет  D-la  (s,ch,r,j)

                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  дебют соло (w,ch)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  дебют дуэты (w,ch)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  школа соло (w,ch,j)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  школа дуэты (w,ch,j)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  начинающие соло (w,q,ch,j)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  начинающие дуэты (w,q,ch,j)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  E-st соло (w,t,q)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  E-la соло (s,ch,j)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  E-st дуэты (w,t,q)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  E-la дуэты (s,ch,j)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  D-st  (w,t,vw,q)
                                option(value='По актуальности' ) Ювеналы-2 10-11 лет  D-la  (s,ch,r,j)

                                option(value='По актуальности' ) Юниоры-1 12-13 лет начинающие соло (w,q,ch,j)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет начинающие дуэты (w,q,ch,j)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет  E-st соло (w,t,q)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет  E-la соло (s,ch,j)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет  E-st дуэты (w,t,q)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет  E-la дуэты (s,ch,j)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет  D-st  (w,t,vw,q)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет  D-la  (s,ch,r,j)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет  RS-st  (w,t,vw,f,q)
                                option(value='По актуальности' ) Юниоры-1 12-13 лет  RS-la  (s,ch,r,p,                              
                               
                                option(value='По актуальности' ) Юниоры-2 14-15 лет начинающие соло (w,q,ch,j)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет начинающие дуэты (w,q,ch,j)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет E-st соло (w,t,q)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет E-la соло (s,ch,j)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет E-st дуэты (w,t,q)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет E-la дуэты (s,ch,j)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет D-st  (w,t,vw,q)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет D-la  (s,ch,r,j)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет RS-st  (w,t,vw,f,q)
                                option(value='По актуальности' ) Юниоры-2 14-15 лет RS-la  (s,ch,r,p,                              
                             
                                option(value='По актуальности' ) Юниоры-1+2 12-15 лет  дебют соло (w,ch)
                                option(value='По актуальности' ) Юниоры-1+2 12-15 лет  дебют дуэты (w,ch)
                                option(value='По актуальности' ) Юниоры-1+2 12-15 лет  школа соло (w,ch,j)
                                option(value='По актуальности' ) Юниоры-1+2 12-15 лет  школа дуэты (w,ch,                              
                             
                                option(value='По актуальности' ) Молодежь 16-19 лет D-st  (w,t,vw,q)
                                option(value='По актуальности' ) Молодежь 16-19 лет D-la  (s,ch,r,j)
                                option(value='По актуальности' ) Молодежь 16-19 лет RS-st  (w,t,vw,f,q)
                                option(value='По актуальности' ) Молодежь 16-19 лет RS-la  (s,ch,r,p,j)




                            i.icon-chevron-down.block__icon
            input.lf--submit(type='submit' value='Зарегистрироваться')




