.list
                .list__header
                  .list__item Партнер
                  .list__item Партнерша
                  .list__item Клуб
                  .list__item Фамилия тренера
                  .list__item Город